
    
    html {
        background-image: url(myCaddybackground.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        margin: 0;
    }
    #buttoncontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
    }
    #homePageButton {
        border: 1px solid white;
        opacity: .9;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        border: none;
        height: 80px;
    }
    #text {
        border: 1px solid black;
    }
    #signInButton {
        height: 40px;
        width: 80px;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 20px;
    }

