
    
    html {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        margin: 0;
        width: 100%;
        height: 100%;

    }

    body {
        font-family: 'Alegreya Sans SC', sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1;
        /* overflow: hidden; */
        height: 100%;
    }
.checkbox {
    display: flex;
    flex-direction: column;
}

    #logInScreenDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: #1bb06b;
    }

    #logInMiddleColumnDiv {
        text-align: center;
    }

    #wizardLogoLogInScreen {
        width: 75%;
        padding: 10px;
    }

    #myCaddyLogoLogInScreen {
        width: 100%;
        padding-bottom: 10px;
    }


    #navbarDiv {
        background-color: white; 
        border-bottom: solid lightgrey 1px;
    }

    #profilePicDiv {
        text-align: center;  
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #profilePic {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: solid black 1px;;
    }


    #logInButton {
        padding: 0;
        margin: 0;
        height: 100%;
        border: none;
        background: white;
   
    }

    #logInButtonText {
        width: 100%;
        position: absolute;
        padding: 0;
    }

    #logInButtonTemplate {
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 0;
        float: right;
    }

    #logInButtonDiv {
        top: 0px;
    }

    #MyCaddyLogo {
        width: 100%;
    }

    #MyCaddyLogoDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-3 {
        padding: 0;
        margin: 0;
    }

    .col-6 {
        padding: 0;
        margin: 0;
    }


    #buttonContainer {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #startARoundDiv {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #startARoundButtonImage{
        width: 100%;
    }

    #myStatsDiv {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #myStatsButtonImage {
        width: 100%;
    }

    #myProfileButtonDiv {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #myProfileButtonImage {
        width: 100%;
    }

    #settingsButtonDiv {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #settingsButtonImage {
        width: 100%;
    }

    .col-3 {
        padding: 0;
    }

    .col-6 {
        padding: 0;
    }

    .col-9 {
        padding: 0;
    }