html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100%;

}

body {
    margin: 0!important;
    padding: 0!important;
}

#profilepage {
    height: 70vh;
    width: 90vw;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#selectCourseText{
    width: 100%;
    height: auto;
    color: white;
    background-color: #1bb06b;
}

#nextHole {
    width: 100%;

}

#selectCourseDropdownData {
    width: 100%;
    height: auto;
    color: #1bb06b;
    background-color: white;
}

#startRoundModalSelectCourseDiv {
    width: 100%;
    margin: 5px;
}

#selectTeesText{
    width: 100%;
    height: auto;
    color: white;
    background-color: #1bb06b;
}

#teeDropItems {
    width: 100%;
    color: #1bb06b;
    background-color: white;    
}

#teeDropDown {
    width: 100%;
    margin: 5px;
    height: auto;
}

#StartARoundButtonA {
    padding: 0;
    margin: 0;
}

#startARoundModalButtonImage {
    width: 100%;
    opacity: 1;
}


#closeStartARoundModalButton {
    padding: 0;
    margin: 0;
}

#closeStartARoundModalButtonImage {
    width: 100%;
}

#newRoundButton {
    padding: 0;
    margin: 0;
}

#statisticsModal {
    padding: 5px;

}

#statisticsModal hr {
    margin: 5px;
}

.statistics {
    font-size: 15px;
    width: 100%;
}

#statistics {
    height: 100%;
}

#scoreStatistics {
    margin-bottom: 8px;
}

#statisticsModal table tr th {
    padding: 9px;
}

#statisticsModal table tr td {
    padding: 9px;
}

#statisticsModal table tr th {
    width: 100%;
}

#statisticsModalFooter {
    padding: 0px;
}

#statisticsModalDialog {
    margin: 0;
    width: 100%;
}

#statisticsModalContent {
    border: none;
    border-radius: 0;
    width: 100%;
}

#closeStatisticsModalButtonImage {
    width: 100%;
}

#closeStatisticsModalButton {
    padding: 0;
    margin: 0;
    width: 100%;
    border: none;
    height: auto;
}

.modal-footer {
    border: none;
}

.tableHeader {
    color: white;
    background-color: #1bb06b;
}
.scoreLogo {
    height: 15px;
    width: 15px;
    margin: auto;
}
#userNameError {
    padding-top: 3px;
    height: .5em;
    color: red;
}

#passwordError {
    padding-top: 3px;
    height: .5em;
    color: red;
}

.modal-title {
    margin-left: 10px;
}
#signupImage {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 150px;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow: hidden;
    height: 100%;
}

.modal-title {
    margin-left: 10px;
}

#signupImage {
    margin-top: 10px;
    margin-right: 10px;
    height: 30px;
    width: 150px;
}

#logInScreenDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1bb06b;
}

#logInMiddleColumnDiv {
    text-align: center;


}

#wizardLogoLogInScreen {
    width: 100%;
    height: auto;
}

#myCaddyLogoLogInScreen {
    width: 100%;
    height: auto;
}


#navbarDiv {
    background-color: white; 
    border-bottom: solid lightgrey 1px;
    width: 100%;
    height: 7vh;
    display: flex;
    align-content: center;
}



#profilePicDiv {
    text-align: center;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#profilePic {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid black 1px;;
}


#logInButton {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    background: white;

}
.fade {
    opacity: 1;
}
#logInButtonText {
    width: 100%;
    position: absolute;
    padding: 0;
}

#logInButtonTemplate {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
}

#logInButtonDiv {
    top: 0px;
    padding: 0;
}

#MyCaddyLogo {
    width: 100%;
}

#MyCaddyLogoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-3 {
    padding: 0;
    margin: 0;
}

.col-6 {
    padding: 0;
    margin: 0;
}


#buttonContainer {
    height: 93vh;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

#rightColumnButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#startARoundDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#startARoundDiv div {
    padding: 0;
}

#startARoundButtonImage{
    width: 100%;
}

#myStatsDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;

}

#myStatsDiv div {
    padding: 0;
}

#myStatsButtonImage {
    width: 100%;
}

#myProfileButtonDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;

}

#myProfileButtonDiv div {
    padding: 0;
}

#myProfileButtonImage {
    width: 100%;
}

#profileModal div {
    padding: 5px;
    margin: 0;
}

#profileModal div div {
    padding: 0;
    margin: 0;
}

#profileModal div div img {
    padding: 0;
    margin: 0;
    width: 100%;
}

#settingsButtonDiv {
    width: 100%;
    display: flex;
    padding: 0;
    padding-top: 10px;
    background-color: #137b4b

}

#settingsButtonImage {
    width: 100%;
}


#settingsCogDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    text-align: center;
    color: white;
    width: 100%;
    font-size: 20px;
    height: 5%;
}
#settingsArrowDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 50px;
    color: white;
}

.col-1 {
    padding: 0 !important;
}

.col-3 {
    padding: 0 !important;
}

.col-6 {
    padding: 0 !important;
}

.col-10 {
    padding: 0 !important;
}

.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #137b4b;
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s; 
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#usernameInput {
    padding: 10px;
    width: 100%;
    text-align: center;
}

#passwordInput {
    padding: 10px;
    width: 100%;
    text-align: center;

}

#logInButtonLoginPage {
    padding: 0;
}

#logInButtonLoginPageImage {
    width: 100%;
    padding: 0;
}

#logInForm {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

#signUpButton {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
}

#signInHelp {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
}

#signUpAndHelpDiv {

    width: 100%;
    margin: 0;
}

#SignUpModalButton {
    width: 100%;
    padding: 0;
    margin: 0;
}

#SignUpModalButtonImage {
    width: 100%;
}

#CloseModalButton {
    width: 100%;
    padding: 0;
    margin: 0;
}

#CloseModalButtonImage {
    width: 100%;
}

#inputGroup-sizing-default {
    color: white;
    background-color: #1bb06b;
}


#scorecard {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#frontNineHoleNumbers {
    background-color: #1bb06b;
    color: white;
    width: 100%;
}

#backNineHoleNumbers {
    background-color: #1bb06b;
    color: white;
    width: 100%;
}

#backNineTable {
    width: 100%;
}

#frontNineTable {
    width: 100%;
}

#frontNineTableID {
    width: 100%;
}

#backNineTableID {
    width: 100%;
}

#scorecard div table thead th {
    padding: 3px;
    text-align: center;
}

#scorecard div table tbody tr th {
    padding: 10px 3px;
    text-align: center;
    width: 30%;
}

#scorecard div table tbody tr td {
    padding: 3px;
    text-align: center;
}

#scorecardButtonDiv {
    width: 100%;
    margin: 0;
}

#returnButtonDiv {
    width: 100%;
    padding: 0;
}

#returnButton {
    width: 100%;
}

#endRoundButtonDiv {
    width: 100%;
    padding: 0;
}

#endRoundButton {
    width: 100%;
}


#sideNavTable {
    font-size: 20px;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;


}


